@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 6px;
}
.task-card:active {
    opacity: 0.2;
    border: .31px solid black;
}
 
::-webkit-scrollbar-thumb:hover {
    background: #1d1d1d;
}